<div>
<nav class="navbar bg-primary">
    <h1>
        <i [class]="navbar.icon"></i>
        Users List
    </h1>   
</nav>
</div>
<search-users (searchedUser)="onSearchUser($event)"></search-users>
<div class="users-list-container">
    <div class="card text-center" *ngFor="let user of users">
        <img [attr.src]="user && user.avatar_url" alt="" class="round-img users-img"/>
        <h3>{{user && user.login}}</h3>
        <div>
            <a [routerLink]="['/user', user && user.login]" class="btn btn-dark btn-sm my-1">More</a>
        </div>
    </div>
</div>
<loader *ngIf="loading" [loading]="loading"></loader>